# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Temporary or user-uploaded files
uploads/
sessions/

.env